@import "tailwindcss";

@font-face {
  font-family: roboto;
  src: url("./assets/Roboto-Thin.ttf");
}

body{
  background-color: #282c34;
  color: white;
  font-family: roboto;
}

.bg-fond {
  position: relative; /* Indispensable pour que le fond reste derrière */
  min-height: 100vh;
  width: 100%;
  color: white; /* Pour que votre texte reste visible */
  overflow: hidden; /* Pour éviter que le flou ne dépasse sur les côtés */
}

.bg-fond::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* On déplace l'image et le sombre ici */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                    url("./assets/fong.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* Le flou s'applique UNIQUEMENT ici */
  filter: blur(4px); 
  
  /* On agrandit un peu pour éviter les bords blancs du flou */
  transform: scale(1.1); 
  
  z-index: 0; 
}

/* On s'assure que le contenu passe au dessus du fond */
.bg-fond > * {
  position: relative;
  z-index: 1;
}



.stat-card {
  width: 230px;
  border-radius: 14px; /* Bordures arrondies */
  padding: 10px;
  color: white; /* Texte blanc par défaut */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre subtile */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4px;
}

.stat-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stat-card-icon {
  font-size: 20px;
  margin-right: 10px;
}

.stat-card-title {
  margin: 0;
  font-size: 1em;
  /* opacity: 0.8; */
}

.stat-card-value {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

/* Couleurs spécifiques basées sur la prop 'color' */
.stat-card.green {
  background-color: #4face421; /* Exemple vert */
}

.stat-card.blue {
  background-color: #4face421; /* Exemple bleu */
}

.stat-card.orange {
  background-color: #4face421; /* Exemple orange */
}

.stat-card.red {
  background-color: #4face421; /* Exemple rouge */
}



/* On cible le conteneur du tableau */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Très fin */
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02); /* Presque invisible */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(59, 130, 246, 0.5); /* Bleu translucide (couleur de ton bouton) */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 130, 246, 0.8); /* Plus brillant au survol */
}